--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.6.0+cpu
torchvision==0.21.0+cpu
streamlit
pandas
numpy
pillow
xgboost
seaborn
scipy
matplotlib
gdown
scikit-learn
plotly
opencv-python-headless
